#conteudo_lista {
    height: 100%;
}

#pesquisa {
    gap: 15px;
}

#pesquisa input {
    width: 68%;
    box-sizing: border-box;
}

#pesquisa input,
#pesquisa select {
    background-color: var(--input-color);
    color: var(--texto-claro);
    padding: 10px;
}

#lista_jogos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#paginas {
    gap: 15px;
}