#conteudo_card {
    padding: 25px;
    border-radius: 5px;
    height: 350px;
}

#conteudo_card h2,
#conteudo_card p {
    text-align: center;
    color: var(--texto-claro);
}

#conteudo_card img {
    width: 70%;
}