#banner {
    height: 90vh;
    overflow: hidden;
}

#texto_banner {
    color: var(--texto-claro);
    gap: 15px;
    width: 45%;
    z-index: 2;
}

#imagem_banner {
    position: absolute;
    right: 0;
    bottom: 0;

    height: 90%;
    object-fit: contain;
}

#texto_banner h1 {
    font-size: 64px;
}

#texto_banner p {
    font-size: 22px;
    line-height: 35px;
}
#catalogo {
    height: 100vh;
    background-color: var(--background-solid);
}

#catalogo h2 {
    color: var(--texto-claro);
}

#pre_footer {
    background: var(--home-background);
    height: 70vh;
}

#conteudo {
    height: 100%;
}

#conteudo p,
#conteudo h2 {
    color: var(--texto-claro);
}

#imagem_jogos {
    border: 1px solid var(--texto-claro);
    border-radius: 4px;
    width: 100%;
    padding: 100px 0;
}