#banner {
    height: 90vh;
    background: var(--home-background);
}

#banner img {
    position: absolute;
    top: 270px;
    right: 0px;
}

#conteudo_banner {
    height: 50%;
}

#texto_banner {
    color: var(--texto-claro);
    gap: 15px;
    width: 70%;
}

#catalogo {
    height: 100vh;
    background-color: var(--background-solid);
}

#catalogo h2 {
    color: var(--texto-claro);
}

#pre_footer {
    background: var(--home-background);
    height: 70vh;
}

#conteudo {
    flex-direction: column;
    height: 100%;
}

#conteudo p,
#conteudo h2 {
    color: var(--texto-claro);
}

#imagem_jogos {
    border: 1px solid var(--texto-claro);
    border-radius: 4px;
    width: 100%;
    padding: 100px 0;
}