#footer {
    width: 100vw;
    height: 30vh;
}

#conteudo_footer {
    width: 90vw;
}

#conteudo_footer img {
    width: 14vw;
    object-fit: contain;
    background-color: transparent;
}

#texto_footer {
    justify-content: space-between;
}

#texto_footer p {
    color: var(--texto-claro);
    text-align: end;
}